# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.venv*/
.env
.env.*
.pytest_cache/
.mypy_cache/

# Logs & data
logs/
*.log

# Docker
**/.dockerignore

# Node (if any UI later)
node_modules/

# Editor
.vscode/
.idea/
